{% extends 'main.html' %} {% load static %}
{% block content %} 

    <!--==============================
About Area  
==============================-->
    <div class="overflow-hidden space" id="about-sec">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 mb-30 mb-xl-0">
                    <div class="img-box1">
                        <div class="img1">
                            <img src="{{AboutUs.image.url}}" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="{% static 'home/assets/img/normal/about_shape_1.png' %}" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="ps-xxl-4 ms-xl-3">
                        <div class="title-area mb-35">
                            <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_1.svg' %}" alt="shape">Biz haqimizda</span>
                            <h2 class="sec-title">{{AboutUs.title}}</span></h2>
                        </div>
                        <p class="mt-n2 mb-25">{{AboutUs.content}}</p>
                        <div class="about-feature-wrap">
                            <div class="about-feature">
                                <div class="about-feature_icon">
                                    <img src="{% static 'home/assets/img/icon/about_feature_1_1.svg' %}" alt="Icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="about-feature_title">{{AboutUs.t1}}</h3>
                                    <p class="about-feature_text">{{AboutUs.c1}}</p>
                                </div>
                            </div>
                            <div class="about-feature">
                                <div class="about-feature_icon">
                                    <img src="{% static 'home/assets/img/icon/about_feature_1_2.svg' %}" alt="Icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="about-feature_title">{{AboutUs.t2}}</h3>
                                    <p class="about-feature_text">{{AboutUs.c2}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="call-btn">
                                <div class="play-btn">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="media-body">
                                    <span class="btn-text">Telefon raqam</span>
                                    <a href="tel:{{AboutUs.phone}}" class="btn-title">{{AboutUs.phone}}</a>
                                </div>
                            </div>
                            <div class="call-btn">
                                <div class="play-btn">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="media-body">
                                    <span class="btn-text">Elektron pochta:</span>
                                    <a href="mailto:{{AboutUs.email}}" class="btn-title">{{AboutUs.email}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
Team Area  
==============================-->
    <section class="team-sec space">
        <div class="container z-index-common">
            <div class="title-area text-center">
                <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_1.svg' %}" alt="shape">ENG YAXSHI JAMOA</span>
                <h2 class="sec-title">Axborot Texnologiyalari Fakulteti <span class="text-theme">Rahbariyati</span></h2>
            </div>
            <div class="row slider-shadow as-carousel" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-infinite="false" data-arrows="true">
                <!-- Single Item -->
            {% for m in management %}
            
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="as-team team-card">
                        <div class="team-img">
                            <img src="{{m.image.url}}" alt="Team">
                        </div>
                        <div class="team-content">
                            <div class="box-particle" id="team-p1"></div>
                            <div class="team-social">
                                <a  href="{{m.facebook}}"><i class="fa-brands fa-facebook"></i></a>
                                <a  href="mailto:{{m.email}}"><i class="fa-solid fa-envelope"></i></a>
                                <a  href="{{m.telegram}}"><i class="fa-brands fa-telegram"></i></a>
                                <a  href="tel:{{m.phone}}"><i class="fa-solid fa-phone"></i></a>
                            </div>
                            <h3 class="box-title"><a href="">{{m.full_name}}</a></h3>
                            <span class="team-desig">{{m.position}}</span>
                        </div>
                    </div>
                </div>
{% endfor %}
            </div>
        </div>
        <div class="shape-mockup" data-bottom="0" data-left="0">
            <div class="particle-2" id="particle-2"></div>
        </div>
    </section>
    <!--==============================
Counter Area  
==============================-->
<div class="bg-theme space-extra" data-bg-src="{% static 'home/assets/img/bg/counter_bg_1.png' %}">
    <div class="container py-2">
        <div class="row gy-40 justify-content-between">
            {% for n in numbers %}
            <div class="col-6 col-lg-auto">
                <div class="counter-card">
                    <div class="counter-card_icon">
                        <img src="{% static 'home/assets/img/icon/counter_1_1.svg' %}" alt="Icon">
                    </div>
                    <div class="media-body">
                        <h2 class="counter-card_number"><span class="counter-number">{{n.nums}}</span>+</h2>
                        <p class="counter-card_text">{{n.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <!--==============================
Feature Area  
==============================-->
    <div class="space" data-bg-src="{% static 'home/assets/img/bg/why_bg_1.png' %}">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-xxl-7 col-xl-6 mb-30 mb-xl-0">
                    <div class="img-box2">
                        <div class="img1">
                            <img src="{{AboutServices.image.url}}" alt="Why">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-6">
                    <div class="title-area mb-35">
                        <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_1.svg' %}" alt="shape">{{AboutServices.min_content}}</span>
                        <h2 class="sec-title">{{AboutServices.title}}</span></h2>
                    </div>
                    <p class="mt-n2 mb-30">{{AboutServices.content}}</p>
                    <div class="two-column">
                        <div class="checklist style2">
                            <ul>
                                {% for s in AboutServices.services.all %}
                                <li><i class="far fa-check"></i>{{s.name}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--==============================
Testimonial Area  
==============================-->
    <section class="bg-top-center space" data-bg-src="{% static 'home/assets/img/bg/testi_bg_3.jpg' %}">
        <div class="container">
            <div class="title-area text-center">
                <div class="shadow-title color2">Biz haqimizda</div>
                <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">O'ZGALAR FIKRI</span>
                <h2 class="sec-title text-white">Biz haqimizda boshqalar<br> <span class="text-theme">nima deyishadi?</span></h2>
            </div>
            <div class="row slider-shadow as-carousel" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
                {% for a in AboutAS %}
                <div class="col-lg-6">
                    <div class="testi-grid">
                        <div class="testi-grid_img">
                            <img src="{{a.image.url}}" alt="Avater">
                            <div class="testi-grid_quote">
                                <img src="{% static 'home/assets/img/icon/quote_left_3.svg' %}" alt="quote">
                            </div>
                        </div>
                        <div class="testi-grid_review">
                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                        </div>
                        <div class="testi-grid_content">
                            <p class="testi-grid_text">{{a.content}}</p>
                            <h3 class="box-title">{{a.full_name}}</h3>
                            <p class="testi-grid_desig">{{a.position}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--==============================
Blog Area  
==============================-->
    <section class="bg-top-right overflow-hidden space" id="blog-sec" data-bg-src="home/assets/img/bg/blog_bg_1.png">
        <div class="container space-bottom">
            <div class="title-area text-center">
                <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_1.svg' %}" alt="shape">Yangilik va e'lonlar</span>
                <h2 class="sec-title">So'nggi yangiliklar <span class="text-theme">va e'lonlar</span></h2>
            </div>
            <div class="row slider-shadow as-carousel" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
            {% for e in events %}
                <div class="col-md-6 col-xl-4">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="{{e.image.url}}" alt="blog image">
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <a href=""><i class="fal fa-calendar-days"></i>{{e.create_date|date:"d-m-Y H:i"}}</a>
                            </div>
                            <h3 class="box-title"><a href="{% url 'event_detail' e.uuid %}">{{e.title}}</a></h3>
                            <div class="blog-bottom">
                                <a href="" class="author"><img src="{% static 'home/assets/img/blog/author-1-1.png' %}" alt="avater"> {{e.user.last_name}} {{e.user.first_name}}</a>
                                <a href="{% url 'event_detail' e.uuid %}" class="line-btn">Ko'proq<i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

               {% endfor %}

            </div>
            <div style="display: flex; justify-content: center; margin-top: 30px;"><a href="{% url 'events' %}"  class="as-btn">Barcha yangiliklar<i class="fa-regular fa-arrow-right ms-2"></i></a></div>
        </div>
        <div class="container">
            <div class="row as-carousel" style="display: flex;
            align-items: center;
            justify-content: center;" id="brandSlide1" data-slide-show="5" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="3" data-xs-slide-show="2">
                {% for l in links %}
               <a href="{{l.url}}" style="margin: 0 10px;">
                <div class="col-auto">
                    <div class="brand-box">
                        <img src="{{l.image.url}}" alt="Brand Logo">
                    </div>
                </div>
               </a>
                {% endfor %}
            </div>
        </div>
        <div class="shape-mockup" data-bottom="0" data-left="0">
            <div class="particle-2 small" id="particle-4"></div>
        </div>
    </section>
   {% endblock %}