{% extends 'main.html' %} {% load static %}
{% block content %} 
<!--==============================
Blog Area
==============================-->
<section class="as-blog-wrapper space-top space-extra-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-lg-7">
                {% for p in posts %}
                <div class="as-blog blog-single has-post-thumbnail">
                    <div class="blog-img">
                        <a href="{% url 'event_detail' p.uuid %}"><img src="{{p.image.url}}" style="width: 100%;" alt="Blog Image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a class="author" href="blog.html"><img src="{% static 'home/assets/img/blog/author-1-1.png' %}" alt="avater"> {{p.user.first_name}} {{p.user.last_name}}</a>
                            <a href="blog.html"><i class="fa-light fa-calendar-days"></i>{{p.date|date:"d-m-Y"}}</a>
                            <!-- <a href="blog-details.html"><i class="fa-regular fa-comments"></i>Comments (3)</a> -->
                        </div>
                        <h2 class="blog-title"><a href="{% url 'event_detail' p.uuid %}">{{p.title}}</a>
                        </h2>
                        <p class="blog-text">{{p.sub_title}}</p>
                        <a href="{% url 'event_detail' p.uuid %}" class="line-btn">Ko'proq</a>
                    </div>
                </div>
                {% endfor %}

                <div class="as-pagination text-center">
                    <ul>
                        {% if posts.has_previous %}
                        <li><a href="?page={{ posts.previous_page_number }}"><i class="far fa-arrow-left"></i></a></li>
                        {% endif %}

                         {% for page_number in posts.paginator.page_range %}
                          <li><a href="?page={{page_number}}">{{page_number}}</a></li>
                     {% endfor %}
                        {% if posts.has_next %}
                        <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li> 
                        {% endif %}
                    </ul>
                </div>



            </div>
            <div class="col-xxl-4 col-lg-5">
                <aside class="sidebar-area">
                    <div class="widget widget_categories  ">
                        <h3 class="widget_title">Kategoriyalar</h3>
                        <ul>
                            {% for c in category %}
                            <li>
                                <a href="?category={{c.name}}">{{c.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget  ">
                        <h3 class="widget_title">Oxirgilar</h3>
                        <div class="recent-post-wrap">
                            {% for r in posts %}
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="{% url 'event_detail' r.uuid %}"><img src="{{r.image.url}}" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="{% url 'event_detail' r.uuid %}">{{r.title}}</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="#"><i class="fal fa-calendar-days"></i>{{r.date|date:"d-m-Y"}}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="widget widget_tag_cloud   ">
                        <h3 class="widget_title">Hash taglar</h3>
                        <div class="tagcloud">
                            {% for t in tags %}
                            <a href="?tag={{t.name}}">{{t.name}}y</a>
                            {% endfor %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

{% endblock %}