{% extends 'main.html' %} {% load static %}
{% block content %} 
    <!--==============================
    Breadcumb
============================== -->
 
    <!--==============================
        Blog Area
    ==============================-->
    <section class="as-blog-wrapper blog-details space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-7">
                    <div class="as-blog blog-single">
                        <div class="blog-img">
                            <img src="{{event.image.url}}" style="width: 100%;" alt="Blog Image">
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <a class="author" href=""><img src="{% static 'home/assets/img/blog/author-1-1.png' %}"  alt="avater">{{event.user.first_name}} {{event.user.last_name}}</a>
                                <a href=""><i class="fa-light fa-calendar-days"></i>{{event.date|date:"d-m-Y H:i"}}</a>
                                <!-- <a href=""><i class="fa-regular fa-comments"></i>Comments (3)</a> -->
                            </div>
                            <h2 class="blog-title">{{event.title}}</h2>
                            {{event.content|safe}}
                        </div>
                        <div class="share-links clearfix ">
                            <div class="row justify-content-between">
                                <div class="col-sm-auto">
                                    <span class="share-links-title">Hash taglar:</span>
                                    <div class="tagcloud">
                                        {% for t in event.hash_tags.all %}
                                        <a href="">{{t.name}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %}
                    <div class="as-comments-wrap">
                        <ul class="comment-list">
                            <li class="as-comment-item">
                                <div class="as-post-comment">
                                    <div class="comment-avater">
                                        <img src="home/assets/img/blog/comment-author-1.jpg" alt="Comment Author">
                                    </div>
                                    <div class="comment-content">
                                        <span class="commented-on"><i class="fal fa-calendar-alt"></i>14 March, 2023</span>
                                        <h3 class="name">David Malan</h3>
                                        <p class="text">Collaboratively empower multifunctional e-commerce for prospective applications. Seamlessly productivate plug and play markets.</p>
                                        <div class="reply_and_edit">
                                            <a href="blog-details.html" class="reply-btn"><i class="fas fa-reply"></i>Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="as-comment-item">
                                        <div class="as-post-comment">
                                            <div class="comment-avater">
                                                <img src="home/assets/img/blog/comment-author-2.jpg" alt="Comment Author">
                                            </div>
                                            <div class="comment-content">
                                                <span class="commented-on"><i class="fal fa-calendar-alt"></i>15 March, 2023</span>
                                                <h3 class="name">Tara sing</h3>
                                                <p class="text">Competently provide access to fully researched methods of empowerment
                                                    without sticky models.</p>
                                                <div class="reply_and_edit">
                                                    <a href="blog-details.html" class="reply-btn"><i class="fas fa-reply"></i>Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="as-comment-item">
                                <div class="as-post-comment">
                                    <div class="comment-avater">
                                        <img src="home/assets/img/blog/comment-author-3.jpg" alt="Comment Author">
                                    </div>
                                    <div class="comment-content">
                                        <span class="commented-on"><i class="fal fa-calendar-alt"></i>16 March, 2023</span>
                                        <h3 class="name">Anadi Juila</h3>
                                        <p class="text">Collaboratively empower multifunctional e-commerce for prospective applications. Seamlessly productivate plug and play markets.</p>
                                        <div class="reply_and_edit">
                                            <a href="blog-details.html" class="reply-btn"><i class="fas fa-reply"></i>Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- Comment end -->
                    <!-- Comment Form -->
                    <div class="as-comment-form ">
                        <div class="form-title">
                            <h3 class="blog-inner-title mb-2"><i class="fa-solid fa-reply"></i> Leave a Comment</h3>
                            <p class="form-text">Your email address will not be published. Required fields are marked *</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" placeholder="Your Name*" class="form-control">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" placeholder="Your Email*" class="form-control">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="col-12 form-group">
                                <input type="text" placeholder="Website" class="form-control">
                                <i class="fal fa-globe"></i>
                            </div>
                            <div class="col-12 form-group">
                                <textarea placeholder="Write a Comment*" class="form-control"></textarea>
                                <i class="fal fa-pencil"></i>
                            </div>
                            <div class="col-12 form-group mb-0">
                                <button class="as-btn">Post Comment</button>
                            </div>
                        </div>
                    </div>{% endcomment %}
                </div>
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area">
                        <div class="widget widget_categories  ">
                            <h3 class="widget_title">Kategoriyalar</h3>
                            <ul>
                                {% for c in category %}
                                <li>
                                    <a href="?category={{c.name}}">{{c.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget  ">
                            <h3 class="widget_title">Oxirgilar</h3>
                            <div class="recent-post-wrap">
                                {% for r in posts %}
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="{% url 'event_detail' r.uuid %}"><img src="{{r.image.url}}" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="{% url 'event_detail' r.uuid %}">{{r.title}}</a></h4>
                                        <div class="recent-post-meta">
                                            <a href="#"><i class="fal fa-calendar-days"></i>{{r.date|date:"d-m-Y"}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="widget widget_tag_cloud   ">
                            <h3 class="widget_title">Hash taglar</h3>
                            <div class="tagcloud">
                                {% for t in tags %}
                                <a href="?tag={{t.name}}">{{t.name}}y</a>
                                {% endfor %}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
   

    {% endblock %}