{% extends 'main.html' %} {% load static %}
{% block content %} 
    <!--==============================
Contact Area  
==============================-->
    <div class="space">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6">
                    <div class="contact-info">
                        <div class="contact-info_icon">
                            <i class="fas fa-location-dot"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="box-title">Manzil</h4>
                            <span class="contact-info_text">{{contact.address}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="contact-info">
                        <div class="contact-info_icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="box-title">Murojaat uchun</h4>
                            <span class="contact-info_text">
                                <a href="tel:+65485965789">{{contact.phone}}</a>
                                <a href="tel:+65485965789">{{contact.phone2}}</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="contact-info">
                        <div class="contact-info_icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="box-title">Elektron pochta</h4>
                            <span class="contact-info_text">
                                <a href="mailto:info.example@gmail.com">{{contact.email}}</a>
                                <a href="mailto:info@traga.com">{{contact.email2}}</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
Contact Area  
==============================-->
    <div class="bg-smoke space" data-bg-src="{{backImage.image.url}}">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="title-area mb-35 text-xl-start text-center">
                        <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">Biz bilan bog'lanish</span>
                        <h2 class="sec-title">Savollaringiz bormi?</h2>
                        <p class="sec-text">O'z savol va takliflaringizni yuborishingiz mumkin</p><p>{{msg}}</p>
                    </div>
                    <form  method="POST" class="contact-form"> {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="full_name" id="name" placeholder="FIO">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="faculty_group" id="email" placeholder="Fakultet va guruh">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="subject" id="subject" class="form-select">
                                    <option value="" disabled selected hidden>Mavzuni tanlang</option>
                                    {% for s in subjects %}
                            <option value="{{s.uuid}}">{{s.name}}</option>
                            {% endfor %}
                                </select>
                                <i class="fal fa-chevron-down"></i>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="tel" class="form-control" name="phone" id="phone" placeholder="Telefon raqam">
                                <i class="fal fa-phone"></i>
                            </div>
                            <div class="form-group col-12">
                                <textarea name="content" id="content" cols="30" rows="3" class="form-control" placeholder="Savol va taklifingiz"></textarea>
                                <i class="fal fa-comment"></i>
                            </div>
                            <div class="form-btn text-xl-start text-center col-12">
                                <button type="submit" class="as-btn" onclick="document
                                .querySelector('form').submit()">Yuborish<i class="fa-regular fa-arrow-right ms-2"></i></button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="map-sec">
        {{contact.google_map|safe}}
    </div>

    {% endblock %}