{% extends 'main.html' %} {% load static %}
{% block content %} 

    <!--==============================
Faq Area
==============================-->
    <div class="space">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">FAQ</span>
                <h2 class="sec-title">Ko'p so'raladigan <span class="text-theme">Savollar?</span></h2>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="accordion-area accordion" id="faqAccordion">

{% for f in faq %}
                        <div class="accordion-card style2 {% if forloop.counter == 2 %} active{% endif %}">
                            <div class="accordion-header" id="collapse-item-{{forloop.counter}}">
                                <button class="accordion-button {% if forloop.counter == 2 %} {% else %} collapsed {% endif %} " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}"  {% if forloop.counter == 2 %} aria-expanded="true" {% else  %} aria-expanded="false" {% endif %}  aria-controls="collapse-{{forloop.counter}}">{{f.question}}</button>
                            </div>
                            <div id="collapse-{{forloop.counter}}" class="accordion-collapse collapse {% if forloop.counter == 2 %} show{% endif %}" aria-labelledby="collapse-item-{{forloop.counter}}" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">{{f.answer}}</p>
                                </div>
                            </div>
                        </div>

{% endfor %}
                    </div>
                </div>
               
            </div>

        </div>
    </div>

    <!--==============================
Contact Area  
==============================-->
    <div class="space" id="contact-sec" data-bg-src="{% static 'home/assets/img/bg/form_bg_1.jpg' %}">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">Savollar jo'natish</span>
                <h2 class="sec-title">Murojaat<span class="text-theme"> yuborish</span></h2>
            </div>
            <form action=""  method="POST" class="quote-form"> {% csrf_token %}
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="full_name"  placeholder="FIO">
                        <i class="fal fa-user"></i>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="faculty_group"  placeholder="Fakultet va guruh">
                        <i class="fa-solid fa-layer-group"></i>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="tel" class="form-control" name="phone"  placeholder="Telefon raqam">
                        <i class="fal fa-phone"></i>
                    </div>
                    <div class="form-group col-md-6">
                        <select name="subject"  class="form-select">
                            <option value="" disabled selected hidden>Murojaat mavzusi</option>
                            {% for s in subjects %}
                            <option value="{{s.uuid}}">{{s.name}}</option>
                            {% endfor %}
                        </select>
                        <i class="fal fa-file-lines"></i>
                    </div>
                    <div class="form-group col-12">
                        <textarea name="content"  cols="30" rows="3" class="form-control" placeholder="Murojaatingiz..."></textarea>
                        <i class="fal fa-pencil"></i>
                    </div>
                    <div class="form-btn text-center col-12">
                        <button type="submit" class="as-btn">Murojaatni yuborish<i class="fa-regular fa-arrow-right ms-2"></i></button>
                    </div>
                </div>
                <p class="form-messages mb-0 mt-3"></p>
            </form>
        </div>
    </div>
   {% endblock %}