{% extends 'main.html' %} {% load static %}
{% block content %} 
    <!--==============================
Gallery Area  
==============================-->
    <div class="space-top space-extra-bottom">
        <div class="container">
            <div class="row gy-4">
                {% for g in gallery %}
                <div class="col-md-6 col-xl-4">
                    <div class="gallery-card">
                        <div class="gallery-img">
                            <img src="{{g.image.url}}" alt="gallery image">
                            <a href="{{g.image.url}}" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
  {% endblock %}