{% extends 'main.html' %} {% load static %}
{% block content %} 
    <!--==============================
Hero Area
==============================-->
<div class="as-hero-wrapper hero-3" id="hero">
    <div class="hero-img">
        <img src="{{homeinfo.image.url}}" alt="Hero Image">
        <div class="shape-blur"></div>
    </div>
    <div class="hero-img-phone">
        <img src="{{homeinfo.image_phone.url}}" alt="Hero Image">
        <div class="shape-blur"></div>
    </div>
    <div class="container">
        <div class="hero-style3">
            <h1 class="hero-title">{{homeinfo.name}}</h1>
            {% if homeinfo.name2 %}<h1 class="hero-title">{{homeinfo.name2}}</h1> {% endif %}
            <span class="hero-subtitle">Rasmiy web sayti</span
            <p class="hero-text">{{homeinfo.content}}</p> <br>
            <div class="btn-group" style="margin-top: 20px;">
               {% if homeinfo.btn_name %} <a href="{{homeinfo.btn_url}}" class="as-btn">{{homeinfo.btn_name}}<i class="fa-regular fa-arrow-right ms-2"></i></a>{% endif %}
                <div class="call-btn">
                    <a href="{{homeinfo.vid_url}}" class="play-btn popup-video">
                        <i class="fas fa-play"></i>
                    </a>
                    <div class="media-body">
                        <a href="{{homeinfo.vid_url}}" class="btn-title popup-video">{{homeinfo.vid_name}}</a>
                        <span class="btn-text">Hoziroq obuna bo'ling</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-social">
        {% for s in social %}
        <a href="{{s.url}}">{{s.name}}</a>
        {% endfor %}
    </div>
    <div class="hero-shape1">
        <img src="{% static 'home/assets/img/hero/hero_shape_3_1.png' %}" alt="shape">
    </div>
</div>
<!--======== / Hero Section ========-->

<!--==============================
Blog Area  
==============================-->

<section class="bg-top-right overflow-hidden space" id="blog-sec" data-bg-src="{% static 'home/assets/img/bg/blog_bg_1.png' %}">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">SO'NGGI YANGILIKLAR</span>
            <h2 class="sec-title">So'nggi yangiliklar va <span class="text-theme fw-normal">e'lonlar</span></h2>
        </div>
        <div class="row slider-shadow as-carousel" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
            {% for e in events %}
            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="{{e.image.url}}" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a href=""><i class="fal fa-calendar-days"></i>{{e.create_date|date:"d-m-Y H:i"}}</a>
                            <!-- <a href="blog.html"><i class="fal fa-comments"></i>2 Comments</a> -->
                        </div>
                        <h3 class="box-title"><a href="{% url 'event_detail' e.uuid %}">{{e.title}}</a></h3>
                        <p class="blog-text">{{e.sub_title}}</p>
                        <div class="blog-bottom">
                            <a href="" class="author"><img src="{% static 'home/assets/img/blog/author-1-1.png' %}" alt="avater">{{e.user.last_name}} {{e.user.first_name}}</a>
                            <a href="{% url 'event_detail' e.uuid %}" class="line-btn">Ko'proq<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        
    </div>
    <a href="{% url 'events' %}" style="display:block; margin: 30px auto; width: max-content; " class="as-btn shadow-none">Barcha yangiliklar<i class="fas fa-arrow-right ms-1"></i></a>
    <div class="shape-mockup" data-bottom="0" data-left="0">
        <div class="particle-2 small" id="particle-4"></div>
    </div>
</section>
<!--==============================
About Area  
==============================-->
<div class="space" id="about-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 mb-30 mb-xl-0">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{{ATInfo.img.url}}" width="415" height="504" alt="About">
                    </div>
                    <div class="img2">
                        <img src="{{ATInfo.img2.url}}" width="274" height="180" alt="About">
                    </div>
                    <div class="img3">
                        <img src="{{ATInfo.img3.url}}" width="165" height="150" alt="About">
                    </div>
                    <div class="shape1">
                        <img src="{% static 'home/assets/img/normal/about_2_shape.png' %}" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-35">
                    <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">O'quv markaz haqida</span>
                    <h2 class="sec-title">{{ATInfo.title}}</h2>
                </div>
                <p class="mt-n2 mb-25">{{ATInfo.content}}</p>
                <div class="checklist style3 mb-40">
                    <ul>
                        {% for d in ATInfo.directions.all %}
                        <li><i class="fa-solid fa-square-check"></i>{{d.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="shape-mockup d-none d-lg-block" data-bottom="0%" data-right="0%">
        <div class="particle-2 small" id="particle-1"></div>
    </div>
</div>
<!--==============================
Counter Area  
==============================-->
<div class="bg-theme space-extra" data-bg-src="{% static 'home/assets/img/bg/counter_bg_1.png' %}">
    <div class="container py-2">
        <div class="row gy-40 justify-content-between">
            {% for n in numbers %}
            <div class="col-6 col-lg-auto">
                <div class="counter-card">
                    <div class="counter-card_icon">
                        <img src="{% static 'home/assets/img/icon/counter_1_1.svg' %}" alt="Icon">
                    </div>
                    <div class="media-body">
                        <h2 class="counter-card_number"><span class="counter-number">{{n.nums}}</span>+</h2>
                        <p class="counter-card_text">{{n.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--==============================
Team Area  
==============================-->
<section class="bg-smoke space" data-bg-src="{% static 'home/assets/img/bg/team_bg_2.png' %}">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">Eng yaxshi jamoa</span>
            <h2 class="sec-title">{{logo.title}}<span class="text-theme fw-normal"> rahbariyati</span></h2>
        </div>
        <div class="row slider-shadow as-carousel" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-infinite="false" data-arrows="true">
            <!-- Single Item -->
            {% for m in management %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="as-team team-box">
                    <div class="team-img">
                        <img src="{{m.image.url}}" width="287" height="300" alt="Team">
                        <div class="team-social">
                            <div class="play-btn"><i class="far fa-plus"></i></div>
                            <div class="as-social">
                                <a  href="{{m.facebook}}"><i class="fa-brands fa-facebook"></i></a>
                                <a  href="mailto:{{m.email}}"><i class="fa-solid fa-envelope"></i></a>
                                <a  href="{{m.telegram}}"><i class="fa-brands fa-telegram"></i></a>
                                <a  href="tel:{{m.phone}}"><i class="fa-solid fa-phone"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="box-particle" id="team-p{{forloop.counter}}"></div>
                        <h3 class="box-title"><a href="">{{m.full_name}}</a></h3>
                        <span class="team-desig">{{m.position}}</span>
                    </div>
                </div>
            </div>
             {% endfor %}

        </div>
    </div>
</section>
<!--==============================
About Area  
==============================-->
<div class="overflow-hidden bg-smoke space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="title-area mb-35 text-center text-xl-start">
                    <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">{{HomeStasInfo.min_content}}</span>
                    <h2 class="sec-title">{{HomeStasInfo.title}}</h2>
                </div>
                <p class="mt-n2 mb-25 text-center text-xl-start">{{HomeStasInfo.content}}</p>
                <div class="pe-xxl-4">
                    {% for s in HomeStasInfo.static.all %}
                    <div class="skill-feature">
                        <h3 class="skill-feature_title" style="margin-bottom: 40px;">{{s.name}}</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width: {{s.prosent}}%;">
                                <div class="progress-value">{{s.prosent}}%</div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
            <div class="col-xl-6 mt-40 mt-xl-0">
                <div class="video-box1">
                    <img class="tilt-active" src="{{HomeStasInfo.image.url}}" alt="Video">
                    <a href="{{HomeStasInfo.url}}" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup" data-top="0%" data-left="0%"><img src="{% static 'home/assets/img/shape/tech_shape_3.png' %}" alt="shape"></div>
    <div class="shape-mockup" data-bottom="0%" data-right="0%"><img src="{% static 'home/assets/img/shape/tech_shape_4.png' %}" alt="shape"></div>
</div>
<!--==============================
Service Area  
==============================-->
{% if projects %}
<section class="space" id="service-sec">
    <div class="container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-lg-6 col-sm-9 pe-xl-5">
                <div class="title-area text-center text-lg-start">
                    <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">Loyihalar</span>
                    <h2 class="sec-title">O'quv markaz tomonidan qilingan <span class="text-theme fw-normal">eksklyuziv</span>  loyihalar </h2>
                </div>
            </div>
            <div class="col-auto">
                <!-- <div class="sec-btn">
                    <a href="service.html" class="as-btn">VIEW ALL SERVICES<i class="fa-regular fa-arrow-right ms-2"></i></a>
                </div> -->
            </div>
        </div>

        <div class="row slider-shadow as-carousel" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1">
        {% for p in projects %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-box">
                    <div class="service-box_img">
                        <img src="{{p.image.url}}" alt="Icon">
                    </div>
                    <div class="service-box_content">
                        <div class="service-box_icon">
                            <img src="{% static 'home/assets/img/icon/service_box_1.svg' %}" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">{{p.title}}</a></h3>
                        <p class="service-box_text">{{p.content}}</p>
                        <a href="{{p.url}}" class="link-btn">Ba'tafsil<i class="fas fa-arrow-right ms-2"></i></a>
                        <div class="bg-shape">
                            <img src="{% static 'home/assets/img/bg/service_box_bg.png' %}" alt="bg">
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %} 
        </div>
    </div>
</section>
{% endif %}

<!--==============================
Testimonial Area  
==============================-->
<section class="bg-auto space" data-bg-src="{% static 'home/assets/img/bg/testi_bg_2.png' %}">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}"  alt="shape">O'zgalar fikri</span>
            <h2 class="">Biz haqimizda boshqalar<br> <span class="text-theme fw-normal">nima deyishadi?</span></h2>
        </div>
        <div class="row slider-shadow as-carousel" data-slide-show="2" data-lg-slide-show="1" data-md-slide-show="1" data-arrows="true">
            {% for c in abautAs %}
            <div class="col-lg-6">
                <div class="testi-box">
                    <div class="testi-box_img">
                        <img src="{{c.image.url}}" width="180"  height="180" alt="Avater">
                        <div class="testi-box_quote">
                            <img src="{% static 'home/assets/img/icon/quote_left_2.svg' %}" alt="quote">
                        </div>
                    </div>
                    <div class="testi-box_content">
                        <p class="testi-box_text">{{c.content}}</p>
                        <div class="testi-box_review">
                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                        </div>
                        <h3 class="box-title">{{c.full_name}}</h3>
                        <p class="testi-box_desig">{{c.position}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="shape-mockup moving d-none d-xl-block" data-bottom="0%" data-left="10%"><img src="{% static 'home/assets/img/shape/line_1.png' %}" alt="shape"></div>
    <div class="shape-mockup jump d-none d-xl-block" data-top="20%" data-right="2%"><img src="{% static 'home/assets/img/shape/line_2.png' %}" alt="shape"></div>
</section>
<!--==============================
Cta Area  
==============================-->
{% if CtaArea %}
<section class="position-relative space">
    <div class="as-bg-img" data-bg-src="{{CtaArea.image.url}}">
        <img src="{% static 'home/assets/img/bg/bg_overlay_1.png' %}" alt="overlay">
    </div>
    <div class="container z-index-common">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9 text-center">
                <div class="title-area mb-35">
                    <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">{{CtaArea.min_content}}</span>
                    <h2 class="sec-title text-white">{{CtaArea.title}}<span class="text-theme fw-normal">{{CtaArea.sub_title}}</span></h2>
                </div>
                <a href="{{CtaArea.btn_url}}" class="as-btn style3">{{CtaArea.btn_name}}</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!--==============================
Price Area  
==============================-->
{% if courses %}
<section class="space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">BIZDAN O'RGANING</span>
            <h2 class="sec-title">BIZNING  <span class="text-theme fw-normal">KURSLAR</span></h2>
        </div>
        <div class="row gy-4 justify-content-center">
            {% for c in courses %}
            <div class="col-xl-4 col-md-6">
                <div class="price-card">
                    <div class="price-card_top">
                        <h3 class="price-card_title">{{c.name}}</h3>
                        <p class="price-card_text">{{c.title}}</p>
                        <h4 class="price-card_price">
                        <span class="duration">{{c.content}}</span>
                        </h4>
                        <div class="particle">
                            <div class="price-particle" id="price-p{{forloop.counter}}"></div>
                        </div>
                    </div>
                    <div class="price-card_content">
                        

                        <div class="checklist">
                            <h4>Kurs yo'nalishlari</h4>
                            <ul>
                                {% for p in c.directions.all|slice:3 %}
                                <li><i class="fas fa-circle-check"></i> {{p.name}}</li>
                                {% endfor %}
                                <li>...</li>
                            </ul>
                        </div>
                        <a target="_top" href="{{c.url}}" class="as-btn"><i class="fa-solid fa-code"></i> Ba'tafsil<i class="fa-regular fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="shape-mockup" data-top="0" data-right="0"><img src="{% static 'home/assets/img/shape/tech_shape_1.png' %}" alt="shape"></div>
    <div class="shape-mockup" data-top="0%" data-left="0%"><img src="{% static 'home/assets/img/shape/square_1.png' %}" alt="shape"></div>
</section>
{% endif %}
<!--==============================
Brand Area  
==============================-->
<div class="brand-sec1" data-pos-for="#faq-sec" data-sec-pos="bottom-half">
    <div class="container">
        <div class="row as-carousel" id="brandSlide1" data-slide-show="5" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="3" data-xs-slide-show="2" data-arrows="true">
           {% for l in links %}
            <div class="col-auto">
               <a href="{{l.url}}">
                <div class="brand-box py-20">
                    <img src="{{l.image.url}}" style="width: 200px; height: 50px; object-fit: cover;" alt="{{l.name}}">
                </div>
               </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--==============================
Faq Area
==============================-->
<div class="bg-smoke overflow-hidden space" id="faq-sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-9">
                <div class="title-area text-center text-xl-start">
                    <span class="sub-title"><img src="{% static 'home/assets/img/theme-img/title_shape_2.svg' %}" alt="shape">Biz haqimizda</span>
                    <h2 class="sec-title">Ko'p so'raladigan  <span class="text-theme fw-normal">savollar?</span></h2>
                </div>
                <div class="accordion-area accordion" id="faqAccordion">


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">{{faq.q1}}</button>
                        </div>
                        <div id="collapse-1" class="accordion-collapse collapse " aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">{{faq.an1}}</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card active">
                        <div class="accordion-header" id="collapse-item-2">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">{{faq.q2}}</button>
                        </div>
                        <div id="collapse-2" class="accordion-collapse collapse show" aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">{{faq.an2}}</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">{{faq.q3}}</button>
                        </div>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">{{faq.q3}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mt-35 mt-xl-0">
                <div class="faq-img tilt-active">
                    <img src="{{faq.image.url}}" alt="Faq">
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup jump" data-bottom="0%" data-left="0%"><img src="{% static 'home/assets/img/shape/tech_shape_5.png' %}" alt="shape"></div>
</div>



{% endblock %}