{% extends 'main.html' %} {% load static %}
{% block content %} 
    <!--==============================
Gallery Area  
==============================-->
    <div class="space-top space-extra-bottom">
        <div class="container">
            <div class="row gy-4">
                {% for g in gallery %}
                <div class="col-md-6 col-xl-4">
                    <div class="gallery-card">
                        <div class="gallery-img">
                            <img src="{{g.image.url}}" alt="gallery image">
                            <div class="call-btn">
                                <a href="{{g.url}}" class="play-btn popup-video">
                                    <i class="fas fa-play"></i>
                                </a>
                                <div class="media-body">
                                    <a href="{{g.url}}" class="btn-title popup-video">{{homeinfo.vid_name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
  {% endblock %}