{% extends 'main.html' %} {% load static %}
{% block content %} 
    <section class="space">
        <div class="container">
            <div class="error-img">
                <img src="{{error.image.url}}" alt="404 image">
            </div>
            <div class="error-content">
                <h2 class="error-title"><span class="text-theme">OooPs!</span> Sahifa mavjud emas</h2>
                <p class="error-text">Voy! Siz qidirayotgan sahifa mavjud emas. U ko'chirilgan yoki o'chirilgan bo'lishi mumkin.</p>
                <a href="{% url 'home' %}" class="as-btn"><i class="fal fa-home me-2"></i>Bosh sahifaga qaytish</a>
            </div>
        </div>
    </section>
    <!--==============================
	Footer Area
==============================-->
   {% endblock %}