<!doctype html> {% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{logo.title}}</title>
    <meta name="author" content="AstroAcademy">
    <meta name="description" content="{{logo.title}}">
    <meta name="keywords" content="{{logo.title}}">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
   
    <link rel="icon" type="image/png"  href="{{logo.logo.url}}" >
    <link rel="manifest" href="{% static 'home/assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{logo.logo.url}}">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'home/assets/css/bootstrap.min.css' %}">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static 'home/assets/css/fontawesome.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'home/assets/css/magnific-popup.min.css' %}">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="{% static 'home/assets/css/slick.min.css' %}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/assets/css/style.css' %}">

</head>

<body>

    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader " style="{{logo.preloder_style|safe}}">
        <button class="as-btn style3 preloaderCls">Preloaderni bekor qilish</button>
        <div class="preloader-inner">
            <div style="position: relative;"> 
                <img src="{{logo.logocentre.url}}" width="100px" alt="preloader">
            <span class="loader" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;">
                <img src="{{logo.logocircle.url}}" width="100px" alt="preloader">
            </span>
            </div>
        </div>
    </div>
    <!--==============================
    Sidemenu
============================== -->
    
    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#">
            <input type="text" placeholder="Saytdan qidiruv">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="as-menu-wrapper">
        <div class="as-menu-area text-center">
            <button class="as-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="{% url 'home' %}"><img src="{{logo.logo.url}}" width="80" alt="Traga"></a>
            </div>
            <div class="as-mobile-menu">
                <ul>
                    <li><a href="{% url 'about' %}">Biz haqimizda</a></li
                    
                    
                    <li><a href="{% url 'events' %}">Yangiliklar</a></li>
                    <li class="menu-item-has-children">
                        <a href="#">Gallereya</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'gallery' %}">Rasmli galereya</a></li>
                            <li><a href="{% url 'video_gallery' %}">Video galereya</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'faq' %}">Ko'p beriladigan savollar</a>
                    <li><a href="{% url 'contact' %}">Bog'lanish</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
	Header Area
==============================-->
    <header class="as-header header-layout3">
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="{% url 'home' %}"><img src="{{logo.logo.url}}" width="80" alt="{{logo.title}}"></a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
                                    
                                    
                                    <li><a href="{% url 'events' %}">Yangiliklar</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Gallereya</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'gallery' %}">Rasmli galereya</a></li>
                                            <li><a href="{% url 'video_gallery' %}">Video galereya</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'faq' %}">Ko'p beriladigan savollar</a>
                                    <li><a href="{% url 'contact' %}">Bog'lanish</a>
                                    </li>
                                </ul>
                            </nav>
                            <button type="button" class="as-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <div class="header-button">
                                <button type="button" class="icon-btn searchBoxToggler"><i class="far fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% block content %} {% endblock %}
    <!--==============================
	Footer Area
==============================-->
    <footer class="footer-wrapper footer-layout2" data-bg-src="{% static 'home/assets/img/bg/footer_bg_1.jpg' %}">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xxl-3 col-xl-4">
                        <div class="widget footer-widget">
                            <div class="as-widget-about">
                                <div class="about-logo">
                                    <a href="home-startup-company.html"><img src="{{logo.logo.url}}" width="80" alt="Traga"></a>
                                </div>
                                <p class="about-text">{{logo.content}}</p>
                                <div class="as-social">

                                    {% for s in social %}
                                    <a href="{{s.url}}">{{s.icon|safe}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">TEZKOR HAVOLALAR</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
                                    <li><a href="{% url 'events' %}">Yangiliklar</a></li>
                                    <li><a href="{% url 'gallery' %}">Rasmli galereya</a></li>
                                    <li><a href="{% url 'video_gallery' %}">Video galereya</a></li>
                                    <li><a href="{% url 'contact' %}">Bog'lanish</a> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Bog'lanish</h3>
                            <div class="as-widget-contact">
                                <div class="contact-feature">
                                    <div class="icon-btn">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="contact-feature_label">Telefon raqam</p>
                                        <a href="tel:{{contact.phone}}" class="contact-feature_link">{{contact.phone}}</a>
                                    </div>
                                </div>
                                <div class="contact-feature">
                                    <div class="icon-btn">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="contact-feature_label">Email</p>
                                        <a href="mailto:{{contact.email}}" class="contact-feature_link">{{contact.email}}</a>
                                    </div>
                                </div>
                                <div class="contact-feature">
                                    <div class="icon-btn">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="contact-feature_label">Manzil</p>
                                        <a href="{% url 'contact' %}" class="contact-feature_link">{{contact.address}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="copyright-wrap bg-theme">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <p class="copyright-text">Mualliflik huquqi <i class="fal fa-copyright"></i> {% now "Y" %} <a href="{% url 'home' %}">Axborot texnologiyalari fakulteti</a>. Barcha huquqlar himoyalangan.</p>
                    </div>
                    <div class="col-lg-6 text-end d-none d-lg-block">
                        <div class="footer-links">
                            <ul>
                                <li><a href="{% url 'contact' %}">Bog'lanish</a></li>
                                <li><a href="https://buxdu.uz/">BuxDU rasmiy web sayt</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <script src="{% static 'home/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'home/assets/js/slick.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'home/assets/js/bootstrap.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'home/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Counter Up -->
    <script src="{% static 'home/assets/js/jquery.counterup.min.js' %}"></script>
    <!-- Circle Progress -->
    <script src="{% static 'home/assets/js/circle-progress.js' %}"></script>
    <!-- Range Slider -->
    <script src="{% static 'home/assets/js/jquery-ui.min.js' %}"></script>
    <!-- Isotope Filter -->
    <script src="{% static 'home/assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'home/assets/js/isotope.pkgd.min.js' %}"></script>
    <!-- Tilt JS -->
    <script src="{% static 'home/assets/js/tilt.jquery.min.js' %}"></script>
    <!-- Particles JS -->
    <script src="{% static 'home/assets/js/particles.min.js' %}"></script>


    <script src="{% static 'home/assets/js/particles-config.js' %}"></script>
    <!-- Main Js File -->
    <script src="{% static 'home/assets/js/main.js' %}"></script>

</body>

</html>