
        <!-- CONTENT START -->
        <div class="page-content">

            
            <div class="wt-bnr-inr overlay-wraper bg-center" style="margin-top: 200px;">
                <form action="" method="POST"> {% csrf_token %}
                    <input class="form-control" type="text" name="git" value="true" hidden> <button class="site-button" type="submit" style="margin:10px">Git Push</button>
                </form> 
                <hr> <br>
            	<form action="" method="POST"> {% csrf_token %}
                    <input class="form-control" type="text" name="backup" value="true" hidden> <button class="site-button" type="submit" style="margin:10px">Backup</button>
                </form>   
                <!-- <form action="" method="POST"> {% csrf_token %}
                    <input type="text" name="restore" value="true" hidden> <button type="submit">Restore</button>
                </form> -->
                <form action="" method="POST" style="display: flex; align-items:center; max-width: 400px"> {% csrf_token %}
                    <input class="form-control" type="text" name="send" value="true" hidden>
                    <select class="form-control" name="info" id="" style="margin:10px">
                        <option value="Local ">Local</option>
                        <option value="Server ">Server</option>
                    </select>
                    <button type="submit" class="site-button" style="margin:10px">Send</button>
                </form> 
            </div>

        </div>
        <!-- CONTENT END -->



       