
<h1 style="margin-top: 4vw;">Parolni tiklash</h1>
<p style="color:hsl(0, 100%, 50%)">{{err}} </p>
<p style="color:green">{{msg}}</p>

   <div class="g2">
    <form action="" method="GET">
        <div class="item">
            <div class="lable">
                <label for="">Telefon raqam:</label>
            </div>
            <div class="itm">
                <input type="text" class="form-control" name="username"  {% if user.username %}value="{{pass_user.phone}}" {% endif %} required>
            </div>
        </div>
        <div class="item"> 
            <div style="display: flex; align-items: center;" class="sub"><button type="submit">Submit</button></div>
        </div>
    </form>
    {% if pass_user.phone %}
    <form action="" method="POST"> {% csrf_token %}
        <div class="item">
            <div class="lable">
                <label  class="form-control" for="">Yangi parol:</label>
            </div>
            <div class="itm">
                <input  class="form-control" type="text" name="pass"required>
            </div>
        </div>
        <div class="item">
            <div  class="site-button" style="display: flex; align-items: center;" class="sub"><button type="submit">Saqlash</button></div>
        </div>
    </form>
    {% endif %}
   </div>


       