{% extends 'crm/main.html' %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
<link rel="stylesheet"
    href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/app.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-daterangepicker/daterangepicker.css' %} ">
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/select2/dist/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/jquery-selectric/selectric.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css'%}">
<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/components.css'%}">
<!-- Custom style CSS -->
<link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
<link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/favicon.ico'%}" />
<style>
    .show {
        display: block !important;
    }
</style>
{% endblock %}
{% block content %}

<div class="main-content">
    <div class="row">
        <div class="col-12">
            <form action="" method="POST">{% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h4>Asosiy ma'lumotlar</h4>
                </div>
                <div class="card-body">
                    <p style="color: red;" >{{error}}</p>
                    <p style="color: green;" >{{message}}</p>
                    <div class="form-group">
                        <label>FIO</label>
                        <input type="text" name="full_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Telefon raqam</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="input-group-text">
                                    +998
                                </div>
                            </div>
                            <input type="text" name="phone" class="form-control" maxlength="9">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tug'ilgan sanasi</label>
                        <input type="text" name="birthday" class="form-control datepicker">
                    </div>
                    
                    <div style="display: flex; justify-content: end;" class="m-3">
                        <button type="button" class="btn btn-light"
                            onclick="document.getElementById('form_password').classList.toggle('show')"><i
                                class="fas fa-plus"></i> Parol qo'shish</button>
                    </div>
                    <div class="form-group" id="form_password" style="display: none;">
                        <label>Parol</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>
                            <input type="password" name="password" class="form-control pwstrength" data-indicator="pwindicator">
                        </div>
                        <div id="pwindicator" class="pwindicator">
                            <div class="bar"></div>
                            <div class="label"></div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: end;" class="m-3">
                        <button type="button" class="btn btn-light"
                            onclick="document.getElementById('form_group').classList.toggle('show')"><i
                                class="fas fa-plus"></i> Guruhga qo'shish</button>
                    </div>
                    <div class="form-group" id="form_group" style="display: none;">
                        <label>Guruhni tanlang</label>
                        <select class="form-control" name="group">
                            <option selected disabled>Tanlang</option>
                           {% for g in group %}
                           <option value="{{g.id}}">{{g.name}}</option>
                           {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-icon icon-left btn-success"  style="float: inline-end;"><i class="fas fa-check" ></i> Saqlash</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

</div>
</div>


{% endblock %}
{% block script %}
<script src="{% static 'assets/js/app.min.js'%}"></script>
<!-- JS Libraies -->
<script src="{% static 'assets/bundles/cleave-js/dist/cleave.min.js'%}"></script>
<script src="{% static 'assets/bundles/cleave-js/dist/addons/cleave-phone.us.js'%}"></script>
<script src="{% static 'assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js'%}"></script>
<script src="{% static 'assets/bundles/bootstrap-daterangepicker/daterangepicker.js'%}"></script>
<script src="{% static 'assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js'%}"></script>
<script src="{% static 'assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js'%}"></script>
<script src="{% static 'assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js'%}"></script>
<script src="{% static 'assets/bundles/select2/dist/js/select2.full.min.js'%}"></script>
<script src="{% static 'assets/bundles/jquery-selectric/jquery.selectric.min.js'%}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/forms-advanced-forms.js'%}"></script>
<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js'%}"></script>
<!-- Custom JS File -->
<script src="{% static 'assets/js/custom.js'%}"></script>
{% endblock %}