{% extends 'crm/main.html' %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Guruhlar</h4>
                    {% if request.user.is_director or request.user.is_admin %} <a href="{% url 'add_group' %}" class="btn btn-icon icon-left btn-primary" style="display: flex;justify-content: end; align-items: center;"><i class="far fa-user"></i> Guruh qo'shish</a>{% endif %}

                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" {% if request.user.is_director or request.user.is_admin %} id="tableExport" {% endif %} style="width:100%;">
                        <thead>
                          <tr>
                            <th>T/r</th>
                            <th>Guruh</th>
                            <th>Kurs</th>
                            <th>O'qituvchi</th>
                            <th>Ku  nlar</th>
                            <th>Mashg'ulot sanalari</th>
                            <th>O'tilgan muddat</th>
                            <th>Xona</th>
                            <th>Talabalar soni</th>
                            {% if request.user.is_director or request.user.is_admin %}<th>Amallar</th>{% endif %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for g in groups %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'group_detail' g.id %}">{{g.name}}</a></td>
                            <td>{{g.cource.name}}</td>
                            <td>{{g.teacher.user.full_name}}</td>
                            <td>Hafta kunlari 
                              {% for i in g.week_days.week_days.all %} <i>{{i}}</i>  {% endfor %}
                              <br> Soat: <i> {{g.start_time.name}}</i></td>
                            <td>{{g.begin_date|date:"d.m.Y"}} - {{g.end_date|date:"d.m.Y"}}
                            </td>
                            <td>{{g.past_day}}</td>
                            <td>{{g.room.name}}</td>
                            <td>{{g.students_count}} nafar</td>
                            {% if request.user.is_director or request.user.is_admin %}<td>
                              <div class="card-header-action">
                              <div class="dropdown">
                                <a href="#" data-toggle="dropdown" class="btn btn-primary " aria-expanded="true"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(-5px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
                                  <a href="{% url 'group_detail' g.id %}" class="dropdown-item has-icon"><i class="fas fa-eye"></i> Ko'rish</a>
                                  <a href="/admin/crm/group/{{g.id}}/change/" class="dropdown-item has-icon"><i class="far fa-edit"></i> Tahrirlash</a>
                                  <div class="dropdown-divider"></div>
                                  <form action="" method="POST">

                                    {% csrf_token %}
                                    <input type="hidden" name="delete_group" value="{{g.id}}">
                                    <button style="display: flex; align-items: center;" class="dropdown-item has-icon text-danger" type="submit"> <i class="far fa-trash-alt"></i> O'chirish</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                            </td>{% endif %}
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block script %}
  <script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/js/page/datatables.js' %}"></script>
    {% endblock %}
  
  <!-- Template JS File -->
  
</body>


<!-- export-table.html  21 Nov 2019 03:56:01 GMT -->
</html>