{% extends 'crm/main.html' %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-social/bootstrap-social.css' %}">
<link rel="stylesheet" href="{% static 'assets/bundles/summernote/summernote-bs4.css' %}">
{% endblock %}
      {% block content %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h2>{{lesson.name}}</h2>
                    
                  </div>
                  <div class="card-body">
                    <button style="margin-bottom: 50px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Resurs qo'shish</button>
                    <h4>Resurslar</h4>
                    <p style="color: green;">{{message}}</p>
                    <div class="py-4">
                      {% for r in lesson.resurses %}
                        <p class="clearfix">
                        <span class="float-left" style="font-weight: 600 !important;">
                          {{ forloop.counter }}. {{r.name}}
                        </span>
                        <span class="float-right text-muted">
                          {% for f in r.files.all %}
                          <p><a href="{{f.file.url}}" download="" >{{f.file}}</a></p>
                          {% endfor %}
                        </span>
                      </p>
                      {% endfor %}                   
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card">
                  <div class="card-header">
                  </div>
                  <div class="card-body">
                    <button style="margin-bottom: 50px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Topshiriq qo'shish</button>
                    <h4>Topshiriqlar</h4>
                    <p style="color: green;">{{message1}}</p>
                    <div class="py-4">
                      {% for t in lesson.tasks %}
                        <p class="clearfix">
                        <span class="float-left" style="font-weight: 600 !important;">
                         {{ forloop.counter }}. {{t.name}}
                        </span>
                        <span class="float-right text-muted">
                         
                          <p><a href="{{t.files.url}}" download="" >{{t.files}}</a></p>
                         
                        </span>
                      </p>
                      {% endfor %}
                      
                    </div>
                    
                  </div>
                </div>
                
              </div>
              
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-hover"  {% if request.user.is_director or request.user.is_admin %} id="tableExport" {% endif %} style="width:100%;">
                  <thead>
                    <tr>
                      <th>T/r</th>
                      <th>O'quvchi FIO</th>
                      <th>Topshiriq</th>
                      <th>Izoh</th>
                      <th>Baho</th>
                      <th>Holat</th>
                      <th>Tekshirish</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for g in lesson.check_tasks %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td><a href="{% url 'student_detail' g.id %}">{{g.student.user.full_name}}</a></td>
                      <td>{{g.task.lesson}} <br>
                      {{g.task.name}} <br>
                     <a href=" {{g.task.files.url}}"> {{g.task.files}}</a>
                      </td>
                      <td>{{g.comment|default:'-'}}</td>
                      <td>{{g.baho|default:"Qo'yilmagan"}}</td>
                      <td>{% if g.is_check %} Tekshirilgan {% else %} Tekshirilmagan {% endif %}</td>
                      <td><a class="btn btn-primary" href="{% url 'task_check' g.id %}">Topshiriqni tekshirish</a></td>
                      
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="6">Topshiriqlar uchun javoblar yuklanmagan</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              
              </div>
            </div>
          </div>
        </section>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="formModal">Resurs qo'shish</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group">
                      <label>Nomi</label>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Resurs nomi" name="name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Fayllar</label>
                      <div class="input-group">
                        <input type="file" multiple class="form-control"  name="files">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">Saqlash</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal">Topshiriq qo'shish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                  <div class="form-group">
                    <label>Nomi</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Topshiriq nomi" name="task_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Fayl</label>
                    <div class="input-group">
                      <input type="file" class="form-control"  name="task_files">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary m-t-15 waves-effect">Saqlash</button>
                </form>
              </div>
            </div>
          </div>
      </div>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

      {% block script %}
      <script src="{% static 'assets/bundles/summernote/summernote-bs4.js' %}"></script>

      {% endblock %}