{% extends 'crm/main.html' %} {% load static %}
 {% load custom_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header" style="display: flex; justify-content: space-between;">
                    <h4>Talabalar</h4>
                    <a href="{% url 'add_student' %}" class="btn btn-icon icon-left btn-primary"><i class="far fa-user"></i> O'quvchi qo'shish</a>

                  </div>
                  
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>
                            <th>T/r</th>
                            <th>FIO</th>
                            <th>Telefon raqam</th>
                            <th>Umumiy to'lanishi kerak bo'lgan summa</th>
                            <th>To'langan miqdor</th>
                            <th>Qarz</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for g in students %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'student_detail' g.id %}">{{g.full_name}}</a></td>
                            <td>{{g.phone}}</td>
                           <td>{{g.all_given}} so'm</td>
                           <td>{{g.st_balans}} so'm</td>
                           <td>{{g.all_debt}} so'm</td>
                            
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
       
      </div>
    {% endblock %}
    {% block script %}
  <script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/js/page/datatables.js' %}"></script>
    {% endblock %}
  
  <!-- Template JS File -->
  
</body>


<!-- export-table.html  21 Nov 2019 03:56:01 GMT -->
</html>