{% extends 'crm/main.html' %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-social/bootstrap-social.css' %}">
<link rel="stylesheet" href="{% static 'assets/bundles/summernote/summernote-bs4.css' %}">
{% endblock %}
      {% block content %}
      <!-- Main Content -->
      <div class="main-content">
            <section class="section">
              <div class="section-body">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header" style="display: flex; justify-content: space-between;">
                        <h2>Topshiriq mavzusi: {{task.task.lesson.name}}</h2>
                      </div>
                      
                      <div class="card-body">
                        <h3>Topshiriq nomi: {{task.task.name}}</h3>
                        <p><a href="{{task.task.files.url}}">Topshiriq matni</a></p>
                        <hr>
                        <h3>O'quvchi: {{task.student.user.full_name}}</h3>
                        <p> <b>Izoh:</b> <br> {{task.comment|default:"Mavjud emas"}}</p>
                        <p> Topshiriq javobi: <br>
                               {% if task.file %} <a href="{{task.file.url}}">Topshiriq fayli</a>  {% endif %}</p>
                        <p><b>Baho: {{task.baho|default:"Qo'yilmagan"}}</b></p>
                        <hr>
                        <form method="POST">
                              {% csrf_token %}
                              <div class="form-group">
                                    <label>Baho qo'yish</label>
                                    <input type="number" max="5" min="0" name="baho" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Yuborish</button>
                                </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
           
          </div>
      {% endblock %}

      {% block script %}
      <script src="{% static 'assets/bundles/summernote/summernote-bs4.js' %}"></script>

      {% endblock %}