{% extends 'crm/main.html' %} {% load static %}
      {% block content %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
            <h1>O'qituvchilar</h1><br><br>
            {% if request.user.is_director or request.user.is_admin %} <a href="{% url 'add_teacher' %}" class="btn btn-icon icon-left btn-primary"><i class="far fa-user"></i> O'qituvchi qo'shish</a><br><br> {% endif %}
           <div class="row"> {% for t in teachers %}
            <div class="col-6 col-sm-12 col-lg-6">
               
                <div class="card card-danger">
                    <div class="card-body">
                        <table style="width: 100%;">
                            <tr>
                                <td><a href="{% url 'teacher_detail' t.id %}">{{t.user.full_name}}</a> </td>
                                <td>{{t.user.phone}}</td>
                                <td>{{t.groups_num}} guruhlar</td>
                                {% if request.user.is_director or request.user.is_admin %}
                                <td> <div class="card-header-action">
                        <div class="dropdown">
                          <a href="#" data-toggle="dropdown" class="btn btn-primary " aria-expanded="true"><i class="fas fa-ellipsis-v"></i></a>
                          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(-5px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a href="{% url 'teacher_detail' t.id %}" class="dropdown-item has-icon"><i class="fas fa-eye"></i> Ko'rish</a>
                            <a href="#" class="dropdown-item has-icon"><i class="far fa-edit"></i> Tahrirlash</a>
                            <div class="dropdown-divider"></div>
                            <form action="" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="delete_group" value="{{t.id}}">
                              <button style="display: flex; align-items: center;" class="dropdown-item has-icon text-danger" type="submit"> <i class="far fa-trash-alt"></i> O'chirish</button>
                            </form>
                          </div>
                        </div>
                      </div></td> {% endif %}
                            </tr>
                        </table>
                     
                    </div>
                </div>
               
            </div> {% endfor %}
          </div>
          
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}